---
import Layout from "../layouts/Layout.astro";
---

<Layout 
  title="G2 History" 
  description="Consulta la web de histórico de G2 Esports y sus rankings."
  image="/g2_logo.png"
  url="https://www.g2leaguehistory.online"
>
  <main class="flex flex-col items-center">
  </main>
</Layout>