---
import Layout from "../layouts/Layout.astro";
---

<Layout 
  title="G2 History" 
  description="Consulta la web de histórico de G2 Esports y sus rankings."
  image="/g2_logo.png"
  url="https://www.g2leaguehistory.online"
>
  <main class="flex flex-col items-center">
    <video autoplay loop muted playsinline aria-hidden="true" class="w-80 rounded-3xl" src="/2025_jersey.mp4">
    </video>
    <h1 class="text-2xl font-bold my-4 text-center">Join the Leyend</h1>
  </main>
</Layout>