---
import Layout from "../layouts/Layout.astro";
---

<Layout title="G2 History">
  <main class="flex flex-col items-center">
    <video autoplay loop muted playsinline class="w-80 rounded-3xl" src="/2025_jersey.mp4">
    </video>
    <h1 class="text-2xl font-bold my-4 text-center">Join the Leyend</h1>
  </main>
</Layout>