---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="G2 League Hub"
  description="Toda la información que necesitas sobre G2 Esports en League of Legends."
  image="/g2_logo.png"
  url="https://www.g2leaguehub.com"
>
  <main class="flex flex-col justify-center items-center gap-4">
    <video
      autoplay
      loop
      muted
      playsinline
      aria-hidden="true"
      class="w-80 rounded-3xl"
      src="/2025_jersey.mp4"></video>
    <h1 class="text-2xl font-bold text-center">Join the Legend</h1>
  </main>
</Layout>
