<div
  id="global-loader"
  class="fixed inset-0 z-[9999] hidden place-items-center bg-black/50 backdrop-blur-sm transition-opacity duration-300 opacity-0"
>
  <div
    class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
  >
    <object data="/animated_g2_logo.svg" type="image/svg+xml" class="w-40 h-40">
      <!-- Mensaje alternativo si el SVG no carga -->
      <p>Loading...</p>
    </object>
  </div>
</div>