<div id="global-loader"
     class="fixed inset-0 z-[9999] hidden bg-black/50 backdrop-blur-sm transition-opacity duration-300 opacity-0">
  <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
    <div class="w-16 h-16 border-4 border-gray-300 border-t-gray-700 rounded-full animate-spin"></div>
  </div>
</div>
