---
import '../styles/global.css';
import { ClientRouter } from 'astro:transitions';
import Header from '../components/Header.astro';
import Loader from '../components/Loader.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<ClientRouter />
		<script type="module" src="/src/scripts/loader.js"></script>
		<script type="module">
			import { initLoader } from '/src/scripts/loader.js';
			initLoader();
		</script>
	</head>
	<body>
		<Loader />
		<Header/>
		<div>
			<slot />
		</div>
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background: #171717;
		color: #fff;
		scrollbar-width: none;
	}
</style>
